@model Northwind.Web.Models.Response.SuppliersViewResult
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Suppliers</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.companyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.companyName)
        </dd>
        
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creationUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
